@media (max-width:1200px){
    .wrap{
        width: 90%;
        margin: 0px auto;
    }
    #info{
        width: 90%;
        margin: 0px auto;
    }
    #banner h1{
        width: 100%;
        font-size: 35px;
        text-align: center;
        margin: 22px auto;
    }
    .card{
        width: 17%;
        margin: 1.45%;
    }
    .card p{
        display: block;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    #articles{
        width: 60%;
    }
    #articles article{
        width: 97%;
    }
    #footer .wrap > div{
        width: 24%;
    }
    #footer #browsers img{
       width: 14%; 
    }
    #footer h5{
        font-size: 30px;
    }
}

@media (max-width: 1080px){
    .card .category{
        font-size: 17px;
    }
    .card .description{
        font-size: 14px;
    }
    #articles{
        width: 60%;
    }
}

@media (max-width: 970px){
    #articles{
        width: 59%;
    }
    #footer h5{
        font-size: 22px;
    }
    #footer h5{
        font-size: 15px;
    }
    #footer .wrap > div{
        width: 22%;
    }
    #footer #browsers img{
       width: 10%;
    } 
}
@media (max-width: 930px){
    #articles{
        width: 65%;
    }
    #footer h5{
        font-size: 15px;
    }
    #footer .wrap > div{
        width: 22%;
    }
    #footer #browsers img{
       width: 12%;
    } 
    #lateral{
        width: 25%;
    }
    #lateral input[type="text"]{
        width: 78%;
    }
    .aside-box{
        width: 95%;
        height: auto;
        min-height: 140px;
        padding-bottom: 10px;
    }
    #login a{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #login input[type="email"],
    #login input[type="password"]{
    width: 85%;
    }
    #login #user, 
    #login #password{
    margin-left: 24px;
    }
    #login input[type="button"],
    #login input[type="submit"],
    #login input[type="reset"],
    #login button{
    margin-bottom: 0px;
    }
    #login input[type="reset"]{
        display: none;
    }
}
    @media (max-width:850px){
        #menu{
            margin-right: 5%;
        }
        #lateral h3{
            font-size: 15px;
        }
        #logo{
            width: 190px;
        }
        #banner h1{
            font-size: 28px;
        }
        .card .category{
            font-size: 15px;
        }
        #info img{
            width: 180px;
        }
        #footer ul li a{
            font-size: 15px;
        }
    }
    @media (max-width:750px){
        #header{
            width: 100%;
            height: 120px;
        }
        #menu{
            clear: both;
            float: none;
            width: 440px;
            margin: -5px auto;
        }
        #banner h1{
            font-size: 22px;
        }
        #logo{
            float: none;
            width: 200px;
            margin: 0 auto;
        }
        #footer h5{
            font-size: 18px;
        }
        #footer h5{
            font-size: 10px;
        }
        #footer .wrap > div{
            width: 19%;
        }
        #footer #browsers img{
           width: 8%;
        } 
    } 

    @media (max-width: 660px){
        #lateral{
            clear: both;
            float: none;
            width: 100%;
            min-height: auto;
            margin: 10px auto;
        }
        #articles{
            clear: both;
            float: none;
            width: 100%;
            margin: 0px auto;
            min-height: auto;
        }
        #articles h2{
            clear: both;
            float: none;
            width: 90%;
        }
        .card{
            height: auto;
        }
        .card .description{
            display: none;
        }
        #footer h5{
            font-size: 22px;
        }
        #footer h5{
            font-size: 15px;
        }
        #footer .wrap > div{
            width: 22%;
        }
        #footer #browsers img{
           width: 10%;
        } 
    }